.btn-green {
    background-color: #74B5AD;;
    color: white;
}

.background {
    background-color: #444444;
    color: #F7F7F7;
}

.red {
    background-color: #FF7597;
    color: #F7F7F7;
}

input.searchBar {
    background-color: #444444;
    border: 3px solid #FF7597;
    width: 50%;
}

.form-control {
  display: flex;
  align-content: center;
}

.form-control:focus {
    background-color: #444444;
}
 
.modal .modal-content{
    background-color: #444444;
    color: #F7F7F7;
}